.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.individual {
  margin: 5px;
}
