.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
